SECRET_KEY=a7f3b2e9c4d1f8a6e3b0c7d4a1f8e5b2c9d6a3f0e7b4c1d8a5f2e9b6c3d0a7
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=postgresql://rockfortdigital:******************@ep-late-field-a5o836gh-pooler.us-east-2.aws.neon.tech/fastapi-auth?sslmode=require&channel_binding=require
FRONTEND_URL=http://localhost:3000  




MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password_here
MAIL_FROM=your_email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com